<div id="loading-screen">
  <div class="loader-center">
    <!-- Main Logo -->
    <img class="loader-logo" src="https://cdn.shopify.com/s/files/1/0650/9923/5578/files/SpicedAnime_Icon_fc3ce29b-e21a-4baf-bdcc-310065bfe44e.svg?v=1763755466" alt="SpicedAnime Logo">

    <!-- Bottom Left Character -->
    <img class="loader-character" src="https://cdn.shopify.com/s/files/1/0650/9923/5578/files/SpicedAnimeCharacter.png?v=1763756974" alt="SpicedAnime Character">
  </div>
</div>

